/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

svg {
  max-width: unset;
}

/* Using locally hosted fonts */

@font-face {
  font-family: 'Crimson Pro';
  src: url('/fonts/crimson-pro-v28-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('/fonts/crimson-pro-v28-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('/fonts/crimson-pro-v28-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --palette-white: #ffffff;
  --palette-black: #000000;

  --palette-grey-100: #F9FAFB;
  --palette-grey-200: #F3F4F6;
  --palette-grey-300: #E5E7EB;
  --palette-grey-400: #D1D5DB;
  --palette-grey-500: #9CA3AF;
  --palette-grey-600: #6B7280;
  --palette-grey-700: #4B5563;
  --palette-grey-800: #1F2937;
  --palette-grey-900: #111827;

  --palette-blue-light: #759DE5;
  --palette-blue-base: #4060D0;
  --palette-blue-dark: #374EBE;

  --palette-brand: #2F3D81;
  --palette-brand-dark: #2a3777;

  --palette-tan: #E6DDD4;
  --palette-tan-dark: #d9ccbf;

  --palette-navy-light: #222849;
  --palette-navy: #1a1f3c;

  /* System UI Font Stack */
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* NAMING font-size-16 == 16px == 1rem */
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-24: 1.5rem;
  --font-size-32: 2rem;
  --font-size-48: 3rem;

  --text-box-width-40: 40ch;
  --text-box-width-50: 50ch;
  --text-box-width-60: 60ch;

  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-36: 2.25rem;
  --space-52: 3.25rem;
  --space-72: 4.5rem;

  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-full: 9999px;
}

:root {
  --font-family: "Crimson Pro", serif, system-ui, BlinkMacSystemFont, Roboto;

  --font-weight-light: 400;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --font-size-sm: var(--font-size-14);
  --font-size-base: var(--font-size-18);
  --font-size-lg: var(--font-size-24);
  --font-size-xlg: var(--font-size-32);
  --font-size-2xlg: var(--font-size-48);

  --radius-sm: var(--radius-4);
  --radius-base: var(--radius-8);
  --radius-full: 99rem;

  --color-bg-blue: var(--palette-blue-base);
  --color-bg-brand: var(--palette-brand);
  --color-bg-tan: var(--palette-tan);
  --color-bg-navy: var(--palette-navy);
  --color-bg-white: var(--palette-white);

  --color-brand-hover: var(--palette-brand-dark);
  --color-blue-hover: var(--palette-blue-dark);
  --color-tan-hover: var(--palette-tan-dark);
  --color-navy-hover: var(--palette-navy-light);

  --color-text: var(--palette-grey-900);
  --color-text-muted: var(--palette-grey-600);
  --color-text-inverse: var(--palette-white);

  --color-border: var(--palette-grey-600);
  --color-border-inverse: var(--palette-white);
}

/* Element Overrides */
html {
  font-family: var(--font-family);
  background-color: var(--color-bg-brand);
}

/* text */

h1,
h2,
h3,
p,
a {
  color: var(--color-text);
}

h1 {
  line-height: 1.2;
  font-size: var(--font-size-xlg);
  font-weight: var(--font-weight-bold);
}

h2 {
  line-height: 1.2;
  font-size: var(--font-size-xlg);
  font-weight: var(--font-weight-bold);
}

p {
  line-height: 1.8;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
}

a {
  font-size: var(--font-size-base);
  text-decoration: none;
  color: inherit;
}

.text-2xlg {
  line-height: 1.1;
  font-size: var(--font-size-2xlg);
  font-weight: var(--font-weight-bold);
}

.text-xlg {
  line-height: 1.1;
  font-size: var(--font-size-xlg);
  font-weight: var(--font-weight-bold);
}

.text-lg {
  line-height: 1.1;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.text-base {
  line-height: 1.5;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
}

.text-caption {
  line-height: 1.5;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

/* buttons */
.btn {
  padding: var(--space-16);

  font-size: var(--font-size-base);

  cursor: pointer;
  border-radius: var(--radius-base);
  border: 1px solid transparent;
}

.btn-color-brand {
  color: var(--color-text-inverse);
  background-color: var(--color-bg-brand);
}

.btn-color-brand:hover {
  background-color: var(--color-brand-hover);
}

.btn-color-blue {
  color: var(--color-text-inverse);
  background-color: var(--color-bg-blue);
}

.btn-color-blue:hover {
  background-color: var(--color-blue-hover);
}

.btn-color-tan {
  background-color: var(--color-bg-tan);
}

.btn-color-tan:hover {
  background-color: var(--color-tan-hover);
}

.btn-outline {
  border-color: var(--color-border);
}