/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

svg {
  max-width: unset;
}

/* Using locally hosted fonts */

@font-face {
  font-family: 'Crimson Pro';
  src: url('/fonts/crimson-pro-v28-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('/fonts/crimson-pro-v28-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('/fonts/crimson-pro-v28-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --spacing-2xsmall: 0.25rem;
  --spacing-xsmall: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-base: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xlarge: 2rem;
  --spacing-2xlarge: 3.5rem;
  --spacing-3xlarge: 5rem;

  --font-family: "Crimson Pro", serif, system-ui, BlinkMacSystemFont, Roboto;

  --font-weight-base: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;

  --font-size-small: 0.875rem;
  --font-size-base: 1rem;
  --font-size-large: 1.125rem;
  --font-size-xlarge: 1.75rem;
  --font-size-2xlarge: 2rem;
  --font-size-3xlarge: 3rem;

  --line-width-xsmall: 40ch;
  --line-width-small: 50ch;
  --line-width-base: 60ch;
  --line-width-large: 70ch;
  --line-width-xlarge: 80ch;

  --radius-small: 4px;
  --radius-base: 8px;
  --radius-large: 16px;
  --radius-full: 99rem;

  --color-primary-light: hsl(230, 85%, 60%);
  --color-primary-light-hover: hsl(230, 60%, 50%);
  --color-primary-base: #2F3D81;
  --color-primary-dark: #1A1F3C;
  --color-primary-xdark: #0C0F25;
  --color-primary-2xdark: #191a22;

  --color-neutral-base: #D5DDE1;
  --color-neutral-dark: #7e8ea3;
  --color-neutral-xdark: #575352;

  --color-white: #ffffff;

  --color-accent-base: #E6DDD4;
}

/* Element Overrides */
body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-base);
  color: var(--color-primary-xdark);
  background-color: var(--color-primary-base);
}

a {
  font-size: var(--font-size-large);
  text-decoration: none;
  color: inherit;
}

/* Buttons */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xsmall);
  padding: var(--spacing-xsmall) var(--spacing-base);
  border-radius: var(--radius-base);
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  -webkit-tap-highlight-color: transparent;
}

button.primary {
  color: var(--color-white);
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-base);
}

button.primary:hover {
  background-color: var(--color-primary-light-hover);
}

button.icon {
  padding: var(--spacing-base);
}

button.reset {
  padding: 0;
}

a.button-primary {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xsmall);

  padding: var(--spacing-xsmall) var(--spacing-base);
  border-radius: var(--radius-base);

  color: var(--color-white);
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-base);
}

a.button-primary:hover {
  background-color: var(--color-primary-light-hover);
}

a.button-secondary {
  padding: var(--spacing-xsmall) var(--spacing-base);
  border-radius: var(--radius-base);

  border: 1px solid var(--color-primary-base);
}

a.icon {
  display: flex;
  align-items: center;
  gap: var(--spacing-2xsmall);
  color: var(--color-primary-light);
}


/* Text Element Classes */
.heading-primary {
  font-size: var(--font-size-2xlarge);
  font-weight: var(--font-weight-bold);
  line-height: 1.4;
}

.heading-secondary {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-semibold);
  line-height: 1.4;
}

.heading-small {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: 1.4;
}

.body-large {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-base);
  line-height: 1.4;
}

.body-regular {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-base);
  line-height: 1.2;
}

.body-small {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-base);
  line-height: 1.2;
}

.navbar-text {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-base);
  line-height: 1.2;
}

.package-text-large {
  color: var(--color-white);
  font-size: var(--font-size-3xlarge);
  font-weight: var(--font-weight-bold);
  line-height: 1;
}

@media (max-width: 40em) {
  .navbar-text {
    font-size: 1.375rem;
  }
}